<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      API's Chistes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span class="hide-on-mobile">Salir</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chistes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let joke of jokes; let i = index" class="joke-card">
      <ion-card-header>
        <ion-card-title>Chiste {{ i + 1 }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="joke.type === 'single'">{{ joke.joke }}</div>
        <div *ngIf="joke.type === 'twopart'">
          <b>{{ joke.setup }}</b><br>
          {{ joke.delivery }}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="block" (click)="getJokes()">Otros chistes</ion-button>
</ion-content>