<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      API's Fotos de Gatos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span class="hide-on-mobile">Salir</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fotos de Gatos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner *ngIf="loading" name="crescent" style="display:block; margin: 40px auto;"></ion-spinner>

  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col size="6" *ngFor="let cat of cats">
        <ion-card>
          <img [src]="cat.url" alt="Gato" class="cat-img" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="getCats()" [disabled]="loading">Otras fotos</ion-button>
</ion-content>